body{
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 200;
    background: #6cb4eb;
}
.header_div {
    background: white;
    color:darkred;
}
.header_div p{
    color: forestgreen;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: bold;
    font-family: Algerian;
}
.main_div button{
    font-family:Blackadder ITC ;
    font-size: large;
    margin-top: 35px;
    font-weight: bolder;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    color: red;
    width: 100%;
    font-size: 18px;
    background-color:lime ;
    text-align: center;
    font-family: cursive;
    text-shadow: 5px 5px 5px red ;
    line-height: 2;
}